<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Simple Reporter">

	<listeners>
		<listener class-name="com.report.CustomReporter2" />
	</listeners>
	<parameter name="config-file" value="config.properties" />

	<suite-files>
		<suite-file path="Suite1.xml" />
<!-- 		<suite-file path="Suite2.xml" /> -->
	</suite-files>

</suite>